<br>
<br>
Profile Name: <%= @user.name %>
<br>
<br>
Bio: <%= @user.bio %>
<br>
<br>
Languages:
<% if @languages.any? %>
<ul>
    <% @languages.each do |language| %>
    <li>
      <%= language.language_type %>
    </li>
    <% end %>
</ul>
  <% else %>

No Languages selected yet

<% end %>

<br>
<br>
