/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   font-family: 'Quicksand', sans-serif;
   font-size: 16px;
   margin: 0;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: 'Quicksand', sans-serif;
 }

 a {
   font-size: 100%;
   text-decoration: none;
 }

 .wrapper {
   max-width: 800px;
   margin: 0 auto;

 }

 nav{
   background-color: #6699ff;
   font-family: 'Quicksand', sans-serif;
   color: white;
   text-align: center;
   padding-bottom: 1em;
 }
 nav a {
   background-color: transparent;
   border: none;
   font-family: 'Quicksand', sans-serif;
   display: inline-block;
   padding: 10px;
   color: white;
   text-decoration: none;
 }

 nav form{
   display: inline-block;
 }

 nav .logged-in {
   position: absolute;
   top: 0.5em;
   right: 0.5em;
 }

 .main_list {
     list-style: none;
     padding: 1em;
   }

  .places_list h3, p {
    text-align: left;
    padding-left: 120px
    }

  .places_list {
  text-align: center;
  border: solid 2px ;
  margin-bottom: 2.5em;
  padding: 1em;
  border-radius: 8px;
  width: 500px;
  margin: auto;
 }

  .no_places {
    text-align: center;
  }

  .create_place {
    text-align: center;
    color: black;
  }

  .view_map{
    text-align: center;
    color: black;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

 input {
   display: block;
 }

 input[type="text"],
 input[type="date"],
 input[type="password"],
 input[type="email"] {
   border: solid 1px #6699ff;
   border-radius: 5px;
   padding: 5px;
   margin-bottom: 1em;
 }

 input[type="checkbox"] {
   border: solid 1px #6699ff;
   border-radius: 5px;
   padding: 5px;
   margin-bottom: 1em;
   display: inline;
 }

 .logo {
   float: left;
   color: black;
   font-size: 200%;
   padding-bottom: 2px;
 }

 .nav_links {
   text-align: right;
   font-size: 100%;
 }

 .forms, .new_user, h2 {
   margin: 0 auto;
   width:250px;
 }

 .place, .user_list, .profile, .edit_list {
  margin-top: 100px;
   text-align: center;
   margin-bottom: 2.5em;
   padding: 1em;
   width: 500px;
   margin: auto;
 }

 .place h1, p {
   text-align: left;
   padding-left: 120px
 }

  .checked_in {
    background-color: green;
    color: black;
  }
